<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialCommunityIcons</string>
		<string>AntDesign</string>
		<string>Entypo</string>
		<string>Evillcons</string>
		<string>FontAwesome5_Brands</string>
		<string>FontAwesome5_Regular</string>
		<string>FontAwesome5_Solid</string>
		<string>FontAwesome6_Brands</string>
		<string>FontAwesome6_Regular</string>
		<string>FontAwesome5_Solid</string>
		<string>Fontisto</string>
		<string>Foundation</string>
		<string>Ionicons</string>
		<string>MaterialIcons</string>
		<string>Octicons</string>
		<string>SimpleLineIcons</string>
		<string>Zocial</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>lahermandad</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>urlGoogle</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Thread</string>
				<string>1:</string>
				<string>&quot;Your</string>
				<string>app</string>
				<string>is</string>
				<string>missing</string>
				<string>support</string>
				<string>for</string>
				<string>the</string>
				<string>following</string>
				<string>URL</string>
				<string>schemes:</string>
				<string>com.googleusercontent.apps.769950438406-usnej8r1ufor70gp2h5aep590068si6d&quot;</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleURL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.769950438406-usnej8r1ufor70gp2h5aep590068si6d</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
